body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em; }

#canvas {
  display: none; }

#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0; }

.gray {
  background-color: rgba(71, 115, 134, 0.2);
  color: white; }
  .gray .link {
    color: #ff5c18; }

.beige {
  background-color: rgba(205, 164, 134, 0.2);
  color: white; }
  .beige .link {
    color: #ff6ab4; }

.yellow {
  background-color: rgba(245, 223, 88, 0.2);
  color: white; }
  .yellow .link {
    color: #cd3544; }

.blue {
  background-color: rgba(29, 114, 165, 0.2);
  color: white; }
  .blue .link {
    color: #f5df58; }

.red {
  background-color: rgba(205, 53, 68, 0.2);
  color: white; }
  .red .link {
    color: #2b78c0; }

.orange {
  background-color: rgba(255, 92, 24, 0.3);
  color: white; }
  .orange .link {
    color: #2b78c0; }

.flex {
  display: flex; }
  .flex.row {
    flex-direction: row;
    justify-content: center; }
  .flex.col {
    flex-direction: column;
    text-align: center;
    width: 100%; }

.link {
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.showcase {
  margin: 1em; }

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1em; }

@keyframes noise-anim {
  0% {
    clip: rect(62px, 9999px, 9px, 0); }
  5% {
    clip: rect(10px, 9999px, 86px, 0); }
  10% {
    clip: rect(4px, 9999px, 56px, 0); }
  15% {
    clip: rect(88px, 9999px, 2px, 0); }
  20% {
    clip: rect(13px, 9999px, 92px, 0); }
  25% {
    clip: rect(4px, 9999px, 74px, 0); }
  30% {
    clip: rect(92px, 9999px, 94px, 0); }
  35% {
    clip: rect(24px, 9999px, 70px, 0); }
  40% {
    clip: rect(25px, 9999px, 7px, 0); }
  45% {
    clip: rect(76px, 9999px, 59px, 0); }
  50% {
    clip: rect(17px, 9999px, 6px, 0); }
  55% {
    clip: rect(3px, 9999px, 69px, 0); }
  60% {
    clip: rect(54px, 9999px, 74px, 0); }
  65% {
    clip: rect(66px, 9999px, 45px, 0); }
  70% {
    clip: rect(11px, 9999px, 78px, 0); }
  75% {
    clip: rect(100px, 9999px, 31px, 0); }
  80% {
    clip: rect(49px, 9999px, 72px, 0); }
  85% {
    clip: rect(23px, 9999px, 17px, 0); }
  90% {
    clip: rect(13px, 9999px, 17px, 0); }
  95% {
    clip: rect(42px, 9999px, 71px, 0); }
  100% {
    clip: rect(79px, 9999px, 40px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: none;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(53px, 9999px, 71px, 0); }
  5% {
    clip: rect(12px, 9999px, 12px, 0); }
  10% {
    clip: rect(84px, 9999px, 7px, 0); }
  15% {
    clip: rect(96px, 9999px, 36px, 0); }
  20% {
    clip: rect(84px, 9999px, 56px, 0); }
  25% {
    clip: rect(47px, 9999px, 25px, 0); }
  30% {
    clip: rect(15px, 9999px, 63px, 0); }
  35% {
    clip: rect(15px, 9999px, 81px, 0); }
  40% {
    clip: rect(75px, 9999px, 86px, 0); }
  45% {
    clip: rect(20px, 9999px, 99px, 0); }
  50% {
    clip: rect(57px, 9999px, 20px, 0); }
  55% {
    clip: rect(4px, 9999px, 45px, 0); }
  60% {
    clip: rect(72px, 9999px, 35px, 0); }
  65% {
    clip: rect(70px, 9999px, 99px, 0); }
  70% {
    clip: rect(92px, 9999px, 13px, 0); }
  75% {
    clip: rect(47px, 9999px, 56px, 0); }
  80% {
    clip: rect(52px, 9999px, 67px, 0); }
  85% {
    clip: rect(61px, 9999px, 95px, 0); }
  90% {
    clip: rect(81px, 9999px, 67px, 0); }
  95% {
    clip: rect(12px, 9999px, 38px, 0); }
  100% {
    clip: rect(91px, 9999px, 12px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 green;
  top: 0;
  color: white;
  background: none;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
