body {
  background: black;
  color: white; }

.yellow {
  background-color: #F5DF58;
  color: black; }
  .yellow .link {
    color: #2B78C0; }

.blue {
  background-color: #1D72A5;
  color: white; }
  .blue .link {
    color: #F5DF58; }

.red {
  background-color: #CD3544;
  color: white; }
  .red .link {
    color: #2B78C0; }

.orange {
  background-color: #FF5C18;
  color: white; }
  .orange .link {
    color: #2B78C0; }

.black {
  background-color: black;
  color: white; }
  .black .link {
    color: #2B78C0; }

.white {
  background-color: white;
  color: black; }
  .white .link {
    color: #2B78C0; }

.flex {
  display: flex; }
  .flex.row {
    flex-direction: row;
    justify-content: center; }
  .flex.col {
    flex-direction: column;
    text-align: center;
    width: 100%; }

.link {
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.section {
  position: relative;
  margin-top: -3.3em;
  z-index: 1; }
  .section.skew {
    z-index: -1;
    padding: 0;
    position: relative;
    height: 10em; }
    .section.skew.positive {
      transform: skewY(3deg); }
    .section.skew.negative {
      transform: skewY(-3deg); }

.showcase {
  margin: 1em; }

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 1em; }

@keyframes noise-anim {
  0% {
    clip: rect(4px, 9999px, 35px, 0); }
  5% {
    clip: rect(57px, 9999px, 85px, 0); }
  10% {
    clip: rect(87px, 9999px, 36px, 0); }
  15% {
    clip: rect(54px, 9999px, 2px, 0); }
  20% {
    clip: rect(66px, 9999px, 38px, 0); }
  25% {
    clip: rect(23px, 9999px, 9px, 0); }
  30% {
    clip: rect(44px, 9999px, 7px, 0); }
  35% {
    clip: rect(90px, 9999px, 53px, 0); }
  40% {
    clip: rect(86px, 9999px, 18px, 0); }
  45% {
    clip: rect(57px, 9999px, 2px, 0); }
  50% {
    clip: rect(28px, 9999px, 46px, 0); }
  55% {
    clip: rect(9px, 9999px, 3px, 0); }
  60% {
    clip: rect(43px, 9999px, 31px, 0); }
  65% {
    clip: rect(54px, 9999px, 42px, 0); }
  70% {
    clip: rect(61px, 9999px, 28px, 0); }
  75% {
    clip: rect(29px, 9999px, 84px, 0); }
  80% {
    clip: rect(23px, 9999px, 98px, 0); }
  85% {
    clip: rect(27px, 9999px, 6px, 0); }
  90% {
    clip: rect(6px, 9999px, 93px, 0); }
  95% {
    clip: rect(9px, 9999px, 45px, 0); }
  100% {
    clip: rect(27px, 9999px, 18px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(59px, 9999px, 93px, 0); }
  5% {
    clip: rect(99px, 9999px, 95px, 0); }
  10% {
    clip: rect(22px, 9999px, 99px, 0); }
  15% {
    clip: rect(14px, 9999px, 78px, 0); }
  20% {
    clip: rect(3px, 9999px, 36px, 0); }
  25% {
    clip: rect(65px, 9999px, 91px, 0); }
  30% {
    clip: rect(61px, 9999px, 32px, 0); }
  35% {
    clip: rect(12px, 9999px, 71px, 0); }
  40% {
    clip: rect(47px, 9999px, 12px, 0); }
  45% {
    clip: rect(97px, 9999px, 11px, 0); }
  50% {
    clip: rect(47px, 9999px, 97px, 0); }
  55% {
    clip: rect(23px, 9999px, 18px, 0); }
  60% {
    clip: rect(45px, 9999px, 71px, 0); }
  65% {
    clip: rect(85px, 9999px, 97px, 0); }
  70% {
    clip: rect(43px, 9999px, 50px, 0); }
  75% {
    clip: rect(55px, 9999px, 78px, 0); }
  80% {
    clip: rect(60px, 9999px, 17px, 0); }
  85% {
    clip: rect(48px, 9999px, 5px, 0); }
  90% {
    clip: rect(14px, 9999px, 74px, 0); }
  95% {
    clip: rect(22px, 9999px, 51px, 0); }
  100% {
    clip: rect(76px, 9999px, 21px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 green;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }
