body {
  background: black;
  color: white;
}

.yellow {
  background-color: #F5DF58;
  color: black;
  .link { color: #477386; }
}
.blue {
  background-color: #1D72A5;
  color: white;
  .link { color: #F5DF58; }
}
.gray {
  background-color: #477386;
  color: white;
  .link { color: #FF5C18 }
}
.red {
  background-color: #CD3544;
  color: white;
  .link { color: #2B78C0; }
}
.orange {
  background-color: #FF5C18;
  color: white;
  .link { color: #2B78C0; }
}
.black {
  background-color: black;
  color: white;
  .link { color: #2B78C0; }
}
.white {
  background-color: white;
  color: black;
  .link { color: #2B78C0; }
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
    justify-content: center;
  }
  &.col {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.section {
  position: relative;
  margin-top: -3.3em;
  z-index: 1;

  &.skew {
    z-index: -1;
    padding: 0;
    position: relative;
    height: 10em;
    &.positive {
      transform: skewY(3deg);
    }
    &.negative {
      transform: skewY(-3deg);
    }
  }
}

.showcase {
  margin: 1em;
}

.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
  margin-bottom: 1em;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-2px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:2px 0 green;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
